<% include header %>

<div class="container" role="main">
    <div class="page-header text-center">
		<h1><i class="fa fa-anchor"></i> Profile Page</h1>
	</div>

	<div class="row">
        <!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
					    <% if (user) { %>
    						<strong>id</strong>: <%= user._id.$oid %><br>
    						<strong>email</strong>: <%= user.email %><br>
    						<strong>password</strong>: <%= user.password %>
    					<% } %>
					</p>
			</div>
		</div>
		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><i class="fa fa-facebook"></i> Facebook</h3>

					<p>
					<!--facebook...id.....token.....email..name-->
                        PROFILE PAGE!!!
					</p>

			</div>
		</div>

	</div>
</div>

<% include footer %>